.nav {
    background-color: orangered;
    height: 50px;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav :global(.active) {
    background-color: green;
}

:global(.test) {
    background-color: red;
}